<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        body{
            background: url(../static/Library2.jpg) no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
    <title>Biblioteca</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-title center">
                <h5>Bibliotecas</h5>
            </div>
            <div class="card-content">
                <div class="collection">
                    {% for i in x %}
                        <li class="collection-item"><div>{{i}}<a href="/biblioteca/{{i}}" class="secondary-content"><i class="material-icons">send</i></a></div></li>
                    {%endfor%}
                </div>            
            </div>
            <div class="card-action">
                <a href="..">Regresar Al menu</a>
                <a href="create-biblio">Crear Biblioteca</a>
            </div>
        </div>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>