<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Borrado con Exito:D</title>
    <style>
        body{
            background: url(../static/deletion.jpg) no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        .card-content{
            text-align: center;
        }
    </style>
</head>
<body>
    <div class = "container">
        <div class = "card offset-4">
            <div class = "card-content">
                <h2>Tu juego</h2>
                <h3>{{dic['name']}}</h3>
                <h3>Se Borro con exito de {{dic['table']}}!!</h3>
            </div>
            <div class = "card-action">
                <a class="btn waves-effect" href="/biblioteca/{{dic['table']}}">Regresar a la biblioteca</a>
            </div>
        </div>
    </div>
</body>
</html>