<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        .container{
        margin-top: 7%;
        }
        body{
            background: url(../static/Library2.jpg) no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
    <title>Exito</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-content">
                <span class="card-title"></span>
                <h5>Biblioteca Creada con exito</h5>
            </div>
            <div class="card-action">
                <a href="..">Regresar al menu</a>
                <a href="/biblioteca">Regresar a Bibliotecas</a>
            </div>
        </div>
    </div>
</body>
</html>