<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INDEX</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"></head>
<style>
    .container{
        margin-top: 7%;
    }
</style>
    <body background="../static/background.jpg">
    <div class="container">
        <div class="row">
            <div class="card grey darken-1 col s5">
                <div class="card-image">
                    <img src="../static/game.jpg">
                    <span class="card-title ">Game App</span>
                </div>
                <div class="card-content white-text">
                    <p>
                        Aplicacion para buscar informacion de juegos
                        directamente desde la API de RAWG.io.
                    </p>
                </div>
                <div class="card-action ">
                    <a href="/juegos" class="blue-grey-text text-lighten-3 ">Buscar Juego!</a>
                </div>
            </div>
            <div class="col s5 card offset-s2 grey darken-1">
                <div class="card-image">
                    <img src="../static/library.jpg">
                    <span class="card-title">Library App</span>
                </div>
                <div class="card-content white-text">
                    <p>
                        Muestra las bibliotecas creadas y los juegos almacenados
                        en ellas.
                    </p>
                </div>
                <div class="card-action">
                    <a href="/biblioteca" class="blue-grey-text text-lighten-3 ">Ver Bibliotecas!</a>
                </div>
            </div>
        </div>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
