<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juegos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
    body{
            background: url(../static/gameApp.jpg) no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
</head>
<body>
    <div class="container-fluid teal darken-4">
        <form action= "/resultado" method="POST">
            <div class="row valign-wrapper">
                <div class="col s1">
                    <a href=".."><i class="material-icons">arrow_back</i></a>
                </div>
                <div class="col s2 white-text offset-s5">
                    <h5>Search Game</h5>
                </div>
                <div class="col s4 valign-wrapper">
                    <div class="col s9">
                        <input class="white-text" type="text" name="search">
                    </div>
                    <div class="col s3" >
                        <button class="btn waves-effect" type="submit"><i class="material-icons">search</i></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>